<!DOCTYPE html>
<html>
<head>
    <title>Checklist de Caminhão</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Adicione as meta tags viewport para tornar a página responsiva -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="login-container">
        <h1>Checklist de Caminhão</h1>
        <form method="post" action="/login">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>